* { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.carousel-cell {
	width: 100%;
  min-height: 250px;
  height: 50vh;
  background-size: cover;
	background-position-y: center;
  border-radius: 5px;
  counter-increment: carousel-cell;
	
	.container {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		height:	100%;
		width: min-content;
		max-width: 1200px;
		background-color: rgba(255,255,255,0.5);
		padding: 0 20px 0 20px;
	}
}

.progress-bar {
	height: 20px;
	width: 0;
	background: #333;
}

#reset {
	position: absolute;
	z-index: 1;
	top: 1%;
	left: 1%;
	color: red;
	background-color: silver;
	border-radius: 10px;
	padding: 5px;
}


#map {
	height: 50vh;
	width: 100%;
}


#accordion-container{
	width: 1200px;
	margin: auto;
	
	& h2,& h3{
		text-align: center
	}
	
	.container {
		background-color: rgba(255,255,255,0.5);
		padding: 0 20px 0 20px;
	}
	
	.accordion {
		border: #bbb 3px solid;
		
		div {
			height: 0;
			transition: 0.5s;
			overflow: hidden;
		}
		
		.active {
			+ div{
				height: 100px;
			}
		}
		
		h3 {
			margin: 0;
			border: #999 2px solid;
			background: #aaa;
			cursor: pointer;
		}
	}
}



